<!DOCTYPE html>
<html>
<head>


	<title>
		{% trans %}GNUKhata{% endtrans %} | {% trans %}Remove User{% endtrans %}
	</title>
</head>
<body>


<div class="container-fluid">
		<div id="removeuser" style="margin-top:50px;" class="mainbox col-xs-4 col-xs-offset-4">
			<div class="panel shadow" class="col-md-offset-4" >
				<div class="panel-heading">
					<div class="panel-title" >{% trans %}Remove User{% endtrans %}</div>
				</div>

				<div style="padding-top:30px" class="panel-body" >
					<div class="alert alert-danger" id="remove-blank-alert" hidden>

						{% trans %}Please select an user!{% endtrans %}
					</div>

					<div class="alert alert-success" id="remsuccess-alert" hidden>

						{% trans %}User removed successfully.{% endtrans %}
					</div>
					<div class="alert alert-success" id="accessdenied-alert" hidden>

						{% trans %}You are not allowed to remove this user.{% endtrans %}
					</div>
					<div class="alert alert-success" id="actiondisallowed-alert" hidden>

						{% trans %}The action is disallowed temporarily.{% endtrans %}
					</div>
					<div class="alert alert-success" id="connectionfailed-alert" hidden>

						{% trans %}Connection Failed.{% endtrans %}
					</div>
			<form id="removeUserform" class="form-horizontal" method="delete" >
							<label for="Username">{% trans %}Us<u>e</u>rname{% endtrans %} :</label>
              <select class = "form-control input-sm" id="username"  name = "username" accesskey="e">
                <option value="" disabled selected hidden>--{% trans %}Select User{% endtrans %}--</option>
                {% for user in  Users%}
								{%if user["userrole"]!= -1%}
                <option value="{{user['userid']}}">{{user["username"]}}</option>
								{%endif%}
                {% endfor %}
              </select>
							<br><br>
						</form>
						<div id="nousers" hidden class="well well-sm">
						<h4>{% trans %}No users found!{% endtrans %} <br><small>{% trans %}You can create{% endtrans %} <a id="newuser" href="#">{% trans %}new users{% endtrans %}</a>.</small></h4>
					</div>
						</div>
							<div class="panel-footer">
							<button id="remove" class="btn btn-danger btn-sm" accesskey="v">{% trans %}Remo<u>v</u>e{% endtrans %}</button>

						</div>
					<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
						<div class="vertical-alignment-helper">
							<div class="modal-dialog modal-sm vertical-align-center">
								<div class="modal-content">
									<div class="modal-header">

										<h4 class="modal-title">{% trans %}Remove{% endtrans %}</h4>
									</div>
									<div class="modal-body">
										<p>{% trans %}Are you sure?{% endtrans %}</p>
									</div>
									<div class="modal-footer">
										<button type="button" id ="m_yes" class="btn btn-warning" data-dismiss="modal">{% trans %}Yes{% endtrans %}</button>
										<button type="button" id="m_no" data-dismiss="modal" class="btn btn-danger">{% trans %}No{% endtrans %}</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div>
					</div><!-- /.modal -->


			</div>

		</div>

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/removeuser.js')}}"></script>




</body>

</html>
